*{
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
    text-align: center;
    line-height: 2em;
}
#cantainer{
    margin: 0 auto;
    width: 100%;
}
h1{
    padding-top: 250px ;
    padding-bottom: 30px;
    font-size: 30px;
}
h2{
    font-size: 20px;
    padding-bottom: 20px;
}
h3{
    font-size: 16px;
    padding-bottom: 10px;
}
p{
    width: 80%;
    margin: 0 auto;
}
#section1{
    background-image:url(./img/showcase.jpg);
    background-size: contain;
    min-height:600px;
    color: aliceblue;
}
#section2{
    background-color: #333;
    min-height:600px;
    color: aliceblue;
}
#section2 .btn1{
    background-color: orangered;
    padding: 10px;
    margin:10px 10px;
    border: none;
    color: #fff;
}
#section2 h2{
    padding: 10px 0 5px 0;
}
#section3{
    background-color: #999;
    min-height:500px;
    color: aliceblue;
}
#section3 p{
    color:black;
}
#section3 h2{
    padding: 30px 0 20px 0;
    color: #000;
}
#section3 .btn2{
    background-color: rgb(39, 21, 73);
    padding: 10px;
    margin:10px 10px;
    border: none;
    color: #fff;
}
#section4{
    background-image:url(./img/section-bg.jpg);
    background-size: contain;
    min-height:300px;
    color: aliceblue;
}
#section4 h2{
    padding-top: 50px;
}
#section5{
    background-color: #f4f4f4;
    min-height: 300px;
    display: flex;
    text-align: justify;
}
#section5 p{
    margin: 0;
    width: 80%;
}
hr{
    width:80%;
}
#section5 h2{
    padding-top: 30px;
}
#section5 span{
    color: blue;
}
footer{
    background-color: #333;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
}
footer h3{
    color: white;
    font-size: 14px;
    text-align: left;
}
footer ul{
    list-style-type: none;
    text-align: left;
    color: white;
    font-size: 12px;
}
footer hr{
    border-color: #888;
}
.foot5{
    background-color: #555;
    color: #fff;

}
